@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

h1{
    font-weight: 300;
}

#content{
    /* width: 100%; */
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.box{
    border-radius: 8px;
    /* box-shadow: black 4px 4px; */
    border: thin solid black;
    padding: 8px;
}

.todo-list-footer__button{
    font-weight: 700;
}

#todo-list{ 
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

#todo-item-list{
    display:block;
    padding: 0px;
}

.todo-item{
    display: block;
    margin: 10px;
    padding: 15px;
}

.todo-check {
    position: relative;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.todo-delete{
    position:relative;
    float:right;
    margin-right: 10px;
}

.todo-name{
    margin-left:10px;
}

#todo-list-footer{
    position: relative;
    padding: 10px;
}

#add-todo{
    position: fixed;
    width: fit-content;
    bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
#add-todo>form{
    display: flex;
}
#add-todo__text{
    flex-grow:5;
}
#add-todo__button{
    flex-grow:1;
}